{% extends "trips/base.html" %}
{% load crispy_forms_tags %} 
{% block content %}
  <h2>Create a Plan</h2>
  <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Plan Detail</legend> 
        {{ form|crispy }} 
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">
            {% if form.instance.pk %}
            Update
            {% else %}
            Create
            {% endif %}
        </button>
        <a
        class="btn btn-outline-danger"
        href="{% url 'trips-myPlan' username=user.username %}"
        role="button"
        >
        Cancel
        </a>        
    </div>
  </form>
{% endblock %}
