{% extends "trips/base.html" %}
{% load crispy_forms_tags %} <!-- Updated here to load crispy forms -->
{% block content %}
<h1>Upcoming {{ trip.trip_name }} trip - From {{ trip.date_fm|date:'d/m/Y' }} to {{ trip.date_to|date:'d/m/Y' }}</h1>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Schedule Detail</legend> <!-- Text Changed here -->

                {{ form|crispy }} <!-- Updated to load the form and let crispy take care of the --> 
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    {% if form.instance.pk %}
                    Update
                    {% else %}
                    Create
                    {% endif %}
                </button>
                {% if form.instance.pk %}
                  <a
                    class="btn btn-outline-danger"
                    href=""
                    role="button"
                  >
                    Delete
                  </a>
                {% endif %}
              </div>
        </form>
        <!-- Changed here, div removed -->
    </div>
{% endblock content %}