{% extends "trips/base.html" %}
{% block content %}
<div class="create-button">
<button class="btn btn-outline-info">
  <a
  href="{% url 'trips-myTrip-new' %}"
>
  New Trip
</a>
</button>
</div>
<div class="container d-lg-flex">
  {% for trip in trips %}
  <div class="col-lg-6 table-container-1">
    <table class="table table-borderless text-center ">
      <tbody>
        <tr>
          <td class="col-all-data" ><a href="{% url 'trips-myTrip-update' pk=trip.id %}">{{ trip.trip_name }}</td>
        </tr>
        <tr>
          <td>{{ trip.trip_description }}</td>
        </tr>
        <tr>
          <td>{{ trip.date_fm|date:'d/m/Y' }} - {{ trip.date_to|date:'d/m/Y' }} </td>
        </tr>
    </tbody>
    <tfoot>
      <tr><td class="text-center table-success">
        <span><a

          href="{% url 'trips-mySchedule-by-myTrip' trip_id=trip.id %}"
        >
          Schedules
        </a>
      </span>
      </td>
      </tr>      
    </tfoot>
    </table>
  </div>
  {% empty %}
  <div>
    <p>Wow! It's time to plan your dream trip — click 'New Trip' and let the adventure begin!</p>
  </div>
  {% endfor %}
</div>

{% if is_paginated %}
  <div class='post-pagination'>
    {% if page_obj.has_previous %}
      <a class='btn btn-outline-info mb-4' href='?page=1'><i class="fa fa-angle-double-left"></i></a>
      <a class='btn btn-outline-info mb-4' href='?page={{ page_obj.previous_page_number }}'><i class="fa fa-angle-left"></i></a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class='btn btn-info mb-4' href='?page={{ num }}'>{{ num }}</a>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class='btn btn-outline-info mb-4' href='?page={{ num }}'>{{ num }}</a>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <a class='btn btn-outline-info mb-4' href='?page={{ page_obj.next_page_number }}'><i class="fa fa-angle-right"></i></a>
      <a class='btn btn-outline-info mb-4' href='?page={{ page_obj.paginator.num_pages }}'><i class="fa fa-angle-double-right"></i></a>
    {% endif %}
  </div>
{% endif %}
{% endblock %}
