{% extends "trips/base.html" %}
{% block content %}
<h1>Upcoming {{ trip.trip_name }} trip - From {{ trip.date_fm|date:'d/m/Y' }} to {{ trip.date_to|date:'d/m/Y' }}</h1>
<button class="btn btn-outline-info">
  <a
  href="{% url 'trips-mySchedule-by-myTrip-new' trip_id=trip.id %}"
>
  Add Schedule
</a>
</button>
</button>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Destination</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for schedule in schedules %}
        <tr>
          <td>{{ schedule.destination }}</td>
          <td>{{ schedule.date_visited|date:'d/m/Y' }}</td>
          <td>
            <div class="d-flex custom-gap">
              <button class="btn btn-outline-info">
              <a
                href="{% url 'trips-mySchedule-by-myTrip-update' trip_id=schedule.trip.id pk=schedule.id%}"
              >
                Update
              </a>
            </div>
          </div>
          <div class="d-flex custom-gap">
            <a
              class="btn btn-outline-danger"
              href="{% url 'trips-mySchedule-by-myTrip-delete' trip_id=schedule.trip.id pk=schedule.id%}"
              role="button"
            >
              Delete
            </a>
          </div>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="3" class="text-center">No schedules available for this trip</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>    
</div>
{% endblock %}
