{% extends "trips/base.html" %}
{% block content %}
    {% load crispy_forms_tags %} <!-- Updated here to load crispy forms -->
    <div class=""content-section>
        <form method="POST">
            {% csrf_token %} <!-- Django needs this for the form-->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>

                {{ form|crispy }} <!-- Updated to load the form and let crispy take care of the formmating -->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline" type="submit">
                    {% if form.instance.pk %}
                    Update Post
                    {% else %}
                    Create Post
                    {% endif %}
                </button>
            </div>
        </form>
    </div>
{% endblock content %}
