{% extends "trips/base.html" %}
{% load static %}
{% block content %}
<form method="GET">
  <input type="text" name="q_country" placeholder="Search country..." value="{{ request.GET.q_country }}">
  <input type="text" name="q_city" placeholder="Search city..." value="{{ request.GET.q_city }}">
  <button type="submit">Search</button>
</form>

  <h1 class='mb-3'>
    Posts by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})
  </h1>
  {% for post in posts %}
    <article class="media content-section">
      <img
        class='rounded-circle article-img'
        src='{{ post.author.get_image_url }}'
        alt='User profile image'>
      <div class="media-body">
        <div class="article-metadata">
            {{ post.author.first_name }} {{ post.author.last_name }} 
            <small class="text-muted">
            <img src="https://flagcdn.com/16x12/{{ post.author.country.code|lower }}.png" 
            width="16" height="12" alt="{{ post.author.country.name }} flag">
             {{ post.author.country.name }}
          </small>
          <small class="text-muted">{{ post.date_posted|date:'F d, Y' }}</small>
        </div>
        <h2>
          <a class="article-title" href="{% url 'post-detail' post.id %}">
            {{ post.title }}
          </a>
        </h2>
        <p class="article-content">{{ post.content }}</p>
      </div>
    </article>
  {% endfor %}
  {% if is_paginated %}

    <div class='post-pagination'>
      {% if page_obj.has_previous %}
        <a class='btn btn-outline-info mb-4' href='?page=1'>First</a>
        <a class='btn btn-outline-info mb-4' href='?page={{ page_obj.previous_page_number }}'>Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class='btn btn-info mb-4' href='?page={{ num }}'>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class='btn btn-outline-info mb-4' href='?page={{ num }}'>{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class='btn btn-outline-info mb-4' href='?page={{ page_obj.next_page_number }}'>Next</a>
        <a class='btn btn-outline-info mb-4' href='?page={{ page_obj.paginator.num_pages }}'>Last</a>
      {% endif %}
    </div>

  {% endif %}
  <script src="{% static 'blog/js/script_blog.js' %}"></script>
{% endblock content %}
