:root {
  --main-bg-color: #f8f8f8;
}


body {
    background: var(--wrap-bg-color);
    color: #333333;
    margin-top: 5rem;
  }
main {
  margin-bottom: 10px;
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }

  .bg-steel {
    background-color: #0f4857;
  }
  
 
  .site-header .navbar-nav .nav-link.active {
    font-weight: bold;
  }
  
  .nav-item .active {
    font-weight: bold;
}

  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
/* custom CSS */
.site-header .navbar-nav .nav-link {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  padding-bottom: 5px; /* Add space for underline */
  transition: color 0.3s ease-in-out;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover::after {
  width: 100%;
}

.site-header .navbar-nav .nav-link::after {
content: "";
position: absolute;
left: 50%;
bottom: 0;
width: 0;
height: 2px;
background-color: #ffffff; 
transition: all 0.5s ease-in-out;
transform: translateX(-50%);
}

.local-search {
  display: block;
  max-width: 400px;
}

.local-search input {
  display: inline;

  width: 80%;
  height: 35px;
  margin-bottom: 10px;
  font-weight: 500;
}

.local-search button {
  height: 35px;
  margin-bottom: 5px;
  background-color: orange;
}

.d-lg-flex {
  flex-wrap: wrap;
}
.col-all-data {
  font-weight: bold;
  width: 100%;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden;
  text-overflow: ellipsis; /* Add "..." if text overflows */
}

.col-1-data {
  width: 30%;
}

.col-2-data {
  width: 70%;
}

.col-image {
  width: 250px; 
  display: block;
  width: 100%;
  height: 100%;
}

  footer {
    color: #fff;
    padding: 30px 0;
  }
  
  footer h2, h5 {
    color: #fff;
    margin: 0;
    font-weight: 500;
  }
  
  .bg-footer {
    background-color: #465c6b;
  }

  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    transition: color 0.3s ease;
  }

.footer-links a:hover {
  color: #adb5bd;
}

table {
  overflow:scroll; 
}

table th td {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; 
}

.table {
  table-layout: fixed;
}

.custom-gap {
  padding: 5px;
}

.custom-btn {
  width: 70px; 
  height: 30px; 
  display: inline-flex; 
  align-items: center; 
  justify-content: center;
}

ul .custom-li {
  list-style-type: none;
}

.schedule-img {
  display: block;
  width: 100%;
  height: 100%;
}
.table-container {
  box-shadow: 0 0 1px rgba(90, 5, 5, 0.2);
  padding: 5px;
}
.table-container-1 {
  display: flex;
  box-shadow: 0 0 10px rgba(8, 144, 168, 0.2);
  padding: 10px;
  
}
.d-lg-flex div {
  justify-content: center; 
}

.link_line {
  display: flex;
  gap: 20px; 
  align-items: center; 
}

.link_line a {
  text-decoration: none; 
  color: blue; 
}

.link_line a:hover {
  color: darkblue; 
}

.link_forcus {
  font-weight: bold;
}

.text-limit-3 {
  display: -webkit-box; 
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical; 
  overflow: hidden;
  max-height: 4.5em; /* Adjust based on font size */
  white-space: normal; /* Ensures text wraps properly */  
}

#navbarToggle {
  transition: height 0.3s ease-in-out;
}

main {
  transition: margin-top 0.1s ease-in-out; /* Smooth transition for margin change */
}

@media (max-width: 767px) {
  .site-header .navbar-nav .nav-link::after {
    display: none; /* Hide the underline on small screens */
  }
}


